* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.nav-row:hover {
  color: black;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
input {
  background-color: #e3e9ef;
  border: 0;
  border-radius: 8px;
  margin: 20px 20px 20px 0;
  height: 20px;
}
button {
  background-color: #1992d4;
  border-radius: 15px;
  border: 0 solid;
  width: 70px;
  height: 25px;
  color: white;
}
hr {
  /* width: 1; */
  height: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
}
.dashboard {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #1992d4;
  grid-column: 1 /1;
}
.header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  flex-direction: row;
  flex-direction: column;
  margin-bottom: 3px;
  box-shadow: 5px 0 5px 1px black;
}
.main-grid {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #e3e9ef;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 15px;
}
.nav {
  color: white;
  place-self: center;
  font-weight: bold;
  display: inline;
  padding-left: 20px;
  line-height: 45px;
}
.top.navigation,
.middle.navigation {
  padding-left: 25px;
}
.middle.navigation {
  padding-top: 50px;
}
.nav.name {
  font-size: 24px;
}
.dashboard {
  display: inline;
  color: white;
  padding: 15px;
}
.dashboard-top {
  padding-bottom: 40px;
}
.fa-bars {
  width: 40px;
  height: 40px;
}
.search-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
.fa-magnifying-glass {
  flex-grow: 1;
  margin: 20px 0 20px 20px;
  /* padding: 15px; */
}
.search-input {
  margin: 20px;
}
.profile.settings {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.profile.intro {
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  font-weight: bold;
  padding-left: 15px;
}
.intro-row {
  margin: 13px;
}
.hi-there {
  font-size: 12px;
}
.fa-bell,
.profile-name,
.fa-circle-user {
  padding: 10px;
}
.buttons {
  padding: 15px;
}
.buttons > .new,
.buttons > .upload,
.buttons > .share {
  margin: 8px;
}
.project-grid {
  grid-column: 1 /3;
  grid-row: 1/3;
  padding-right: 10px;
}

.trending-grid {
  grid-column-start: 3;
}
.card {
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  display: grid;
  direction: row;
  grid-template-rows: 1fr 3fr 1fr;
}
.projects > .card {
  box-shadow: 2px 2px 1px gray, inset 10px 0 5px -5px gold;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.button-share {
  margin-left: auto;
}
.button-share > i {
  padding: 5px;
}
.card-title {
  font-weight: bold;
}
.announce-summary {
  padding-bottom: 15px;
}
.announce {
  padding-top: 15px;
}
.announcements {
  display: block;
  /* margin: 15px; */
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}
